body {
    background-color: #393E46;
}

.page{
    text-align: center;
    
}

.heading h1 {
    color: #4ECCA3;
    font-family: 'Lobster', cursive;
    font-size: 8rem;
    margin-top: 20px;
    margin-bottom: 0px;
}

.player {
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    
}

.players{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.roll-button {
    margin-top: 70px;
    font-size: 50px;
    padding:20px 20px 20px 20px;

    font-family: 'Lobster', cursive;
    border:none;
    border-radius: 12px;
    border: 2px solid #4ECCA3;


    background-color: #4ECCA3;
    color: white;
    transition-duration: 0.25s;

}


.roll-button:hover {
    color: white;
    opacity: 0.9;
    background-color: #393E46;

}